<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/jquery-3.2.1.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/underscore.js"></script>
	<title><%=title%></title>
</head>
<body>
	<% include header.ejs %>
	<div class="container" style="margin-top: 60px">
	<div class="page-header">

  		<h1 id="wztitle" ><%=title%></h1>
  		<div class="body-user"><span><img class="img-circle" width="30" height="30" src="/avatar/<%=avatar%>" alt=""></span><a href="/user/<%=user%>"><span>作者：<%=user%></span></a></div>
  		<input type="hidden" value="<%=_id%>" id="wzid">
  		<div class="body-tit">
  			
  			<%-content%>
  		</div>
  		
  		<div class="body-cz">
  			<ul class="nav nav-pills">
  			 <%if(user==username){%>
			  <li role="presentation"><a class="glyphicon glyphicon-pencil" href="/shougaiwz/<%=_id%>"></a></li>
			 
			  <li role="presentation"><a class="glyphicon glyphicon-trash" href="/shanchuwz/<%=_id%>"></a></li>
			  <%}%>
			  <li role="presentation"><a><i class="glyphicon glyphicon-eye-open"></i><%=look%></a></li>
			  <li role="presentation"><a><i  class="glyphicon glyphicon-tag"></i><%=classification%></a></li>
			  <%if(login){%>
			  <%if(type==0){%>
			   <li role="presentation"><a class="glyphicon glyphicon-star-empty glyphiconheart"></a></li>
			  <%}else{%>
			  <li role="presentation"><a class="glyphicon glyphicon-star glyphiconheart"></a></li>
			  <%}%>
			  <%}%>
			</ul>
  		</div>
  		
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">留言板</div>
	  <div class="panel-body">
		          <div class="controls">
		            <div class="textarea">
		                  <textarea  <%if(!login){%> placeholder="登陆后留言"  <%}%> style="word-break:break-all" class="input-xlarge form-control" id="content" cols="120" rows="4"></textarea>
		            </div>
		          </div>
	  </div>
	   <%if(login){%>
	  <div class="panel-btn">
		  <button id="fbpost" class="btn btn-primary">留言</button>
		  <button id="hfbpost" class="btn btn-primary" style="display: none;">回复</button>
	  </div>
	   <%}%>
	</div>

	
	<%for(var i=0;i< liuyan.length;i++){%>
	<div class="wcdiv" data-id='<%=liuyan[i]._id%>' style="padding-left: 10px">
		
	
	<div class="mediaboy">
		<div class="mediaboy-diva">
			<div class="diva">
				<small><i class="glyphicon glyphicon-user"></i><em class="hf"><%=liuyan[i].username%></em></small>
				<small><i class="glyphicon glyphicon-time"></i><%=liuyan[i].time%></small>
				<small class="huifuly">回复</small>
				<small class="dzan">
				
				<%if(liuyan[i].dzan){%>
				<%for(var z=0;z< liuyan[i].dzan.length;z++){%>
					<% if(liuyan[i].dzan[z].username==username){%>
						<i class="glyphicon glyphicon-thumbs-up" style="color: red"></i>
						<%}%>
				<%}%>
					<%=liuyan[i].dzan.length%>
				<%}%>
			
				赞</small>
			</div>
			<div class="divb">
				<%if(liuyan[i].username==username){%>
								
							
				<i class="glyphicon glyphicon-trash sly" style="cursor: pointer;"></i>
				<%}%>
			</div>
		</div>
		<div class="mediaboy-divb"><%=liuyan[i].content%></div>
		<input type="hidden" value="<%=liuyan[i]._id%>" id="lyid" class='lyid'>
		
		

	  </div>
	  <%if(liuyan[i].liuyan){%>
	 
				<div class="media">
				 <%for(var j=0;j< liuyan[i].liuyan.length;j++){%>
					<div>
					<div class="media-diva mediaboy-diva">
						<div class="diva">
							<small><i class="glyphicon glyphicon-user"></i><em class="hf"><%=liuyan[i].liuyan[j].username%></em></small>
							<small>回复</small>
							<small><i class="glyphicon glyphicon-user"></i><%=liuyan[i].liuyan[j].user%></small>
							<small><i class="glyphicon glyphicon-time"></i><%=liuyan[i].liuyan[j].time%></small>
							<small class="huifuly">回复</small>
						</div>
						<div class="divb">
							<%if(liuyan[i].liuyan[j].username==username){%>
								<i class="glyphicon glyphicon-trash slyhf" style="cursor: pointer;"></i>
							<%}%>
							
						</div>
						
					</div>
					
					<div class="mediaboy-divb"><%=liuyan[i].liuyan[j].content%></div>
					</div>
					<%}%>
				</div>
			
			<%}%>
	  </div>
	  
	   <%}%>
	   </div>

	   <style>
		.media-body small{
			padding:0 5px;
		}
		.media-body p{
			padding-left: 10px;
		}
		.page-header .body-cz i{
			padding-right: 3px;
		}
		.page-header{
			background: #ffffff;
			padding: 20px;
		}
		.page-header .body-user{
			padding: 20px 0
		}
		.panel-default .panel-btn{
			padding:10px 20px;
		}
		.wcdiv{
			background: #ffffff;
			padding: 20px;
			margin-top: 30px;
			box-shadow:0 1px 3px rgba(0,0,0,.1);
			border-radius: 5px;
		}
		.wcdiv i{padding-right: 3px;}
		.wcdiv small{padding: 0 5px;}
		.wcdiv .mediaboy-divb{
			padding: 10px 0
		}
		.media{
			border-left: 2px solid #d9d9d9;
			padding:5px 0 5px 20px;
			margin-left: 10px;
		}
		.wcdiv .mediaboy-diva .diva{
			
		}
		.wcdiv .mediaboy-diva .divb{
			float: right;
		}
		.mediaboy-diva .mediaboy-divb{
			padding: 20px 0
		}
		.mediaboy-diva .dzan{
			cursor: pointer;
		}
		.mediaboy-diva .huifuly{
			cursor: pointer;
		}
</style>


<script>
	//发表留言
	$('#fbpost').click(function(){
		var content=$('#content').val();
		if(content.indexOf(" ")!=-1 || !content){
			$('#content').attr('placeholder','不能有空格不能为空');
			$('#content').focus().val(''); 
		}else{
			
			$.post('/doliuyan',{
			'content':$('#content').val(),
			'wzid':$('#wzid').val(),
			},function(result){
				if(result=='1'){
					 history.go(0);

				}else{
					alert(result)
				}

			})
		}
		
	})
	//删除留言
	var sly=$(".sly");
	
	for(var i=0;i<sly.length;i++){
		sly[i].index=i;
		sly[i].onclick=function(){
			var lyid=$(this).parents('.wcdiv').data('id');
			console.log('删除');
			$.post('/doshanliuyan',{
				'lyid':lyid,
				'wzid':$('#wzid').val(),
			},function(result){
				if(result=='1'){
					 history.go(0);

				}else{
					alert(result)
				}

			})
		}
	}
	//删除留言回复
	var slyhf=$(".slyhf");
	for(var i=0;i<slyhf.length;i++){
		slyhf[i].index=i;
		slyhf[i].onclick=function(){
			var lyid=$(this).parents('.wcdiv').data('id');
			var index=this.index;
			console.log(index);
			$.post('/doshanhuiliuyan',{
				'lyid':lyid,
				'index':index,
			},function(result){
				if(result=='1'){
					 history.go(0);

				}else{
					alert(result)
				}

			})
		}
	}
	
	//回复留言
	var huifuly=$(".huifuly");
	var hf=$('.hf');
	var user='';
	var fbpost=$('#fbpost');
	var hfpost=$('#hfbpost');
	
	for(var i=0;i<huifuly.length;i++){
		
		 
		huifuly[i].index=i;
		huifuly[i].onclick=function(){
			var lyid=$(this).parents('.wcdiv').data('id');
			console.log(lyid);
			$("#fbpost").css("display","none");
		 $("#hfbpost").css("display","block");
			user=hf[this.index].innerHTML;
			wztitle=$('#wztitle').text();
			$('#content').attr('placeholder','回复 '+user);
			$('#hfbpost').click(function(){
				var content=$('#content').val();
				if(content.indexOf(" ")!=-1 || !content){
					$('#content').attr('placeholder','不能有空格不能为空');
					$('#content').focus().val(''); 
				}else{
					$.post('/dohuiliuyan',{
					'user':user,
					'wztitle':wztitle,
					'content':$('#content').val(),
					'wzid':$('#wzid').val(),
					'lyid':lyid,
					},function(result){
						if(result=='1'){
							 $("#fbpost").css("display","block");
			 				$("#hfbpost").css("display","none");
			 				$('#content').attr('placeholder','');
							 history.go(0);

						}else{
							alert(result)
						}

					})
				}

			
			})

		}
		
	}
	//点击收藏
	var glyphiconheart=$('.glyphiconheart');
	for(var i=0;i<glyphiconheart.length;i++){
		glyphiconheart[i].onclick=function(){
			console.log('收场');
			$.post('/doshoucang',{
			'wzid':$('#wzid').val(),
			},function(result){
				if(result=='1'){
					 history.go(0);

				}else{
					//alert(result)
				}

			})

		}
	}
	//点赞
	var dzan=$('.dzan');
	for(var i=0;i<dzan.length;i++){
		dzan[i].onclick=function(){
			var lyid=$(this).parents('.wcdiv').data('id');
			$.post('/dzan',{
			'lyid':lyid,
			},function(result){
				if(result=='1'){
					 history.go(0);

				}else{
					//alert(result)
				}

			})
		}
	}
	


	
	
</script>

</body>
</html>