<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的相册</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../layui/css/layui.css"  media="all">
	<script src="../layui/layui.js" charset="utf-8"></script>
	<script src="../js/jquery-3.2.1.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/underscore.js"></script>
	<script src="../js/moment.min.js"></script>
</head>
<body>
	<% include ../header.ejs %>
	<div class="container">
	<div class="row" style="margin-top: 30px;">
	<%if(result){%>
		<%for(var i=0;i< result.length;i++){%>
		  <div class="col-sm-3 col-md-3">
		    <div class="thumbnail">
		      <img onclick="imgDisplay(this)" src="../upload/<%=result[i].username%>/<%=result[i].url%>" alt="...">
		     
		      <div class="caption">
		        <p>
		        	<small><i class="glyphicon glyphicon-user"></i><a href="/user/<%=result[i].username%>"><%=result[i].username%></a></small>
		        	<small><i class="glyphicon glyphicon-time"></i><%=result[i].time%></small>
	
		        </p>
		      </div>
		    </div>
		  </div>
		  <%}%>
	   <%}%>
	</div>
	</div>
	<script>
	
//查看大图
function imgDisplay(obj) {
	var src = $(obj).attr("src");
	var imgHtml = '<div style="width: 100%;height: 100vh;overflow: auto;background: rgba(0,0,0,0.5);text-align: center;position: fixed;top: 0;left: 0;z-index: 1000;"><img src=' + src + ' style="margin-top: 100px;width: 70%;margin-bottom: 100px;"/><p style="font-size: 50px;position: fixed;top: 30px;right: 30px;color: white;cursor: pointer;" onclick="closePicture(this)">×</p></div>'
	$('body').append(imgHtml);
}
//关闭
function closePicture(obj) {
	$(obj).parent("div").remove();
}

	</script>
	
</body>
</html>